@import "tailwindcss";

:root {
  --background: #FFFEFB;
  --foreground: #27272A;
  --border-size: 2px;
  --border-radius: 12px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.content-fade-in {
  animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.block-bottom {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10.5px;
  position: relative;
  overflow: hidden;
  padding: 1px;
  box-sizing: border-box;
}

.block-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 9px;
  background: var(--background);
  border: transparent;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.block-bottom::before,
.block-bottom::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  pointer-events: none;
  background: var(--foreground);
  transition: transform 0.25s ease-in-out;
  will-change: transform;
  box-sizing: border-box;
  transform-origin: center;
}

.block-bottom::before {
  transform: translate(100%, 100%);
}

.block-bottom:hover::before {
  transform: translate(0, 0);
}

.block-bottom::after {
  transform: translate(-100%, -100%);
}

.block-bottom:hover::after {
  transform: translate(0, 0);
}